* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --green-water-color: #0a4f70;
  --gray-color: #ccc;
  --crismon-color: #f04c64;
  --white-color: #fff;
  --green-color: #116530;
  --dark-blue-color: #189AB4;
}

body {
  font-family: sans-serif;
  background: var(--green-water-color);
}

button {
  cursor: pointer
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}
